<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HatcheryReportLibrary.Properties.Settings.Hatchery"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Hatchery;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>